/* Origen de las pruebas */
/*https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
/*http://www.falconmasters.com/css/guia-flexbox-layouts/*/


.flexbox-container {
    height: 300px;
    width: 550px;
    padding: 1em;
    /*border: 5px solid;*/
    background-color: tomato;

    /*Propiedades elemento padre a él y sus hijos*/
    display: flex; /*bloque*/
    /*display: inline-flex; !*inline*!*/ /* Una línea no respecta el tamaño*/

    /* Flex Direction */
    flex-direction: row;
    /*flex-direction: row-reverse;*/
    /*flex-direction: column;*/
    /*flex-direction: column-reverse;*/

    /*flex-wrap: nowrap;*/
    justify-content: flex-end;
    justify-content: center;
    align-items: flex-end;

}

.flexbox-item {
    background-color: aliceblue;
    border: 2px dotted;
    margin: 5px;
}