.flexbox-container {
    max-height: 500px;
    max-width: 650px;
    padding: 1em;
    /*border: 5px solid;*/
    background-color: tomato;

    /*Propiedades elemento padre a él y sus hijos*/
    display: flex; /*bloque*/
    /*display: inline-flex; !*inline*!*/ /* Una línea no respecta el tamaño*/

    /* Flex Direction */
    flex-direction: row;
    /*flex-direction: row-reverse;*/
    /*flex-direction: column;*/
    /*flex-direction: column-reverse;*/

    /*flex-wrap: nowrap;*/
    justify-content: flex-end;

}

.flexbox-item {
    background-color: aliceblue;
    border: 2px dotted;
    margin: 5px;
}